<div class="container">
    <h1 class="mt-3 mb-3">Modifier l'installation <%= @facility.name %></h1>
    <%= render "form.html", Map.put(assigns, :action, Routes.facilities_facility_path(@conn, :update, @facility)) %>
    <div class="mt-3"><%= link "Retour", to: Routes.facilities_facility_path(@conn, :index) %></div>
</div>