<div class="container">
  <h1>Installation <%= @facility.name %></h1>

  <p>
    <%= @facility.description %>
  </p>
  <ul class="bi">
    <li class="bi-geo-point-fill">
      <%= @facility.adresse__street %>, <%= @facility.adresse__zip_code %> <%= @facility.adresse__city %>
    </li>
  </ul>

  <.map center={@facility.location}  classes={["sg-map-quickview"]} markers={[SignuisWeb.MapMarker.to(@facility)]} />
</div>



