<h1>Edition type de nuisance</h1>

<%= render "form.html", Map.put(assigns, :action, Routes.administration_nuisance_type_path(@conn, :update, @nuisance_type)) %>

<span><%= link "Retour", to: Routes.administration_nuisance_type_path(@conn, :index) %></span>
