<h1>Show Nuisance type</h1>

<ul>

</ul>

<span><%= link "Edit", to: Routes.administration_nuisance_type_path(@conn, :edit, @nuisance_type) %></span> |
<span><%= link "Back", to: Routes.administration_nuisance_type_path(@conn, :index) %></span>
