<h1><%= @nuisance_type.label %></h1>

<p><%= @nuisance_type.description |> text_to_html %></p>

<span><%= link "Modifier", to: Routes.administration_nuisance_type_path(@conn, :edit, @nuisance_type) %></span> |
<span><%= link "Retour", to: Routes.administration_nuisance_type_path(@conn, :index) %></span>
