<h1>Edit Member</h1>

<%= render "form.html", Map.put(assigns, :action, Routes.factories_member_path(@conn, :update, @member)) %>

<span><%= link "Back", to: Routes.factories_member_path(@conn, :index) %></span>
