<div class="row">
    <div class="col-2">
        <%= render "_user_menu.html", assigns %>
    </div>
    <div class="col">
        <div class="jumbotron mt-3">
            <h1 class="display-4">Panneau d'administration</h1>
            <p class="lead">Des fonctionnalités à venir...</p>
        </div>
    </div>
</div>