  <%= case get_flash(@conn, :info) do %>
    <% nil -> %>
    <%= info -> %>
      <p class="alert alert-info" role="alert"><%= info %></p>
  <% end %>

  <%= case get_flash(@conn, :error) do %>
    <% nil -> %>
    <%= error -> %>
      <p class="alert alert-danger" role="alert"><%= error %></p>
  <% end %>
  
  <%= @inner_content %>
