<main class="container">
  <%= case  live_flash(@flash, :info) do %>
  <% nil -> %>
  <% info -> %>
    <p class="alert alert-info" role="alert"
    phx-click="lv:clear-flash"
    phx-value-key="info"><%= info %></p>
  <% end %>

  <%= case  live_flash(@flash, :error) do %>
  <% nil -> %>
  <% error -> %>
    <p class="alert alert-danger" role="alert"
    phx-click="lv:clear-flash"
    phx-value-key="info"><%= error %></p>
  <% end %>

  <%= @inner_content %>
</main>
