<h1>Show Facility</h1>

<ul>

</ul>

<span><%= link "Edit", to: Routes.administration_facility_path(@conn, :edit, @facility) %></span> |
<span><%= link "Back", to: Routes.administration_facility_path(@conn, :index) %></span>
