<div class="container mb-3">
    <h1>Modifier le membre</h1>
    <%= render "form.html", 
        assigns
        |> Map.put(:mode, :update)
        |> Map.put(:action, Routes.facilities_member_path(@conn, :update, @member)) %>
    <span><%= link "Retour", to: Routes.facilities_member_path(@conn, :index, @facility) %></span>
</div>