<div class="container">
    <h1>Nouveau membre de <%= @facility.name %></h1>

    <%= render "form.html", assigns
    |> Map.put(:mode, :new)
    |> Map.put(:action, Routes.facilities_member_path(@conn, :create, @facility)) %>

    <span><%= link "Retour", to: Routes.facilities_member_path(@conn, :index, @facility) %></span>
</div>