/* Signuis Framework */
.leaflet-div-icon {
  background: none;
  border: none;
  position: relative;
  top: -50%;
}

/* Marker */
.sg-marker {
  display: flex;
  align-items: center;
  color:cornflowerblue;
  position: relative;
  left: -32px;
  top: -32px;
}

.sg-fullwidth {
  width: 100%
}

.sg-marker .sg-marker__label {
  flex: 1;
  font-weight: bold;
  padding: 10px;
  text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
}

.sg-marker .sg-icon {
  flex: 1;
}

.sg-map-quickview {
  display: block;
  height: 400px;
  width: 100%;
}

.sg-menu {
  z-index: 10000;
  transition: opacity 1s ease-out;
}

.sg-map {
  display: block;
  width: 100%;
  height: 100%;
  z-index: 0;
}

.sg-wrapper {
  display: block;
  position: relative;
}

.sg-wrapper__content {
  position: absolute;
  top: 0; left: 0;
}

.sg-wrapper__overlay {
  position: absolute;
  top: 0; left: 0;
  z-index: 10000;
}

.sg-viewport {
  position: absolute;
  width: 100vw; 
  height: 100vh;
  top: 0; right: 0;

  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.sg-viewport__body__main {
  object-fit: contain;
  flex-grow: 1;
  max-height: 100%;
  max-width: 100%;
}

.sg-viewport__body__row {
  flex-grow: 0;
}

.sg-viewport__body__main .row {
  height: 100%;
  padding: 0;
  margin: 0;
}

.sg-viewport__body__main .col {
  height: 100%;
  padding: 0;
  margin: 0;
}

.sg-viewport__overlay {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10000;
}

.sg-gap--top {
  padding: 10px;
}