/* Signuis Framework */
.leaflet-div-icon {
  background: none;
  border: none;
  position: relative;
  top: -50%;
}

/* Marker */
.sg-marker {
  display: flex;
  align-items: center;
  color:cornflowerblue;
  position: relative;
  left: -32px;
  top: -32px;
}

.sg-marker .sg-marker__label {
  flex: 1;
  font-weight: bold;
  padding: 10px;
  text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
}

.sg-marker .sg-icon {
  flex: 1;
}

.sg-map-quickview {
  display: block;
  height: 400px;
  width: 100%;
}

.sg-map__fullpage {
  display: block;
  position: relative;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
}

.sg-map__wrapper {
  position: absolute;
  top: 0; right: 0;
}

.sg-map__overlay {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1000;
}