<div class="container">
    <h1>Modifier période de production</h1>
    <%= render "form.html", Map.put(assigns, :action, Routes.facilities_production_path(@conn, :update, @production)) %>
    <span><%= link "Retour", to: Routes.facilities_production_path(@conn, :index, @facility) %></span>
</div>