<div class="container">
    <h1 class="mt-3 mb-3">Nouvelle installation</h1>

    <%= render "form.html", Map.put(assigns, :action, Routes.administration_facility_path(@conn, :create)) %>

    <div class="mt-3"><%= link "Retour", to: Routes.administration_facility_path(@conn, :index) %></div>
</div>