<h1><%= @facility.name %></h1>
<span><%= link "Modifier", to: Routes.administration_facility_path(@conn, :edit, @facility) %></span> |
<span><%= link "Retour", to: Routes.administration_facility_path(@conn, :index) %></span>

<%= @facility.description |> text_to_html %>

<.map 
    center={@facility.location} 
    classes={["sg-map-quickview"]} 
    markers={[%{location: @facility.location}]} />


